﻿@model TestAstro.Models.tbl_materi
@using Newtonsoft.Json
@{
    ViewBag.Title = "CoursesDetail";
}

<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../../img/bg-img/1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Courses Detail</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Breadcrumb Area Start ##### -->
<div class="mag-breadcrumb py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Courses"><i aria-hidden="true"></i>Course</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Subjects</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Archive Post Area Start ##### -->
<div class="archive-post-area">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="single-video-area bg-white mb-30 box-shadow">
                    <iframe src="@Model.video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="text-center"><b>Video Credit: </b>@Model.video_source</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">
                    <!-- Single Catagory Post -->

                    <div class="section-heading">
                        <h5>@Model.title</h5>
                    </div>

                    <div>
                        <p>@Model.description</p>
                        <p><b>Source:</b> @Model.subject_source</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 box-shadow">

                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget p-30">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>QUIZ</h5>
                        </div>


                        <!-- Catagory Widget -->

                        @if (ViewBag.userbadge < ViewBag.coursebadge)
                        {
                            <div class="text-center">
                                <button id="start_badge" class="btn mag-btn mt-30" data-toggle="modal" data-target="#modal_badge">Start Quiz</button>
                            </div>
                        }
                        else if (ViewBag.quiz < 1)
                        {
                            <div class="text-center">
                                <button id="no_quiz=" class="btn mag-btn mt-30" data-toggle="modal" data-target="#modal_no_quiz">Start Quiz</button>
                            </div>
                        }
                        else if (ViewBag.quiz_status == false)
                        {
                            <div class="text-center">
                                <button id="no_quiz=" class="btn mag-btn mt-30" data-toggle="modal" data-target="#modal_no_quiz">Start Quiz</button>
                            </div>
                        }
                        else
                        {
                            <div class="text-center">
                                <button id="start_quiz" class="btn mag-btn mt-30" data-toggle="modal" data-target="#modal_quiz">Start Quiz</button>
                            </div>
                        }


                    </div>

                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget p-30">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Subjects</h5>
                        </div>

                        <!-- Catagory Widget -->
                        <ul class="catagory-widgets" id="materi_area">
                            @foreach (var item in JsonConvert.DeserializeObject(ViewBag.Materi))
                            {
                                <li><a href="/Courses/@item.course_encrypt/@item.materi_encrypt"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> @item.title </span> </a></li>
                            }

                        </ul>
                    </div>

                    <!-- Sidebar Widget -->
                    @if (!User.Identity.IsAuthenticated || User.IsInRole("generic"))
                    {
                        <div class="single-sidebar-widget">
                            <a href="@ViewBag.coursedetailad.link" class="add-img"><img src="../../img/ads-img/@ViewBag.coursedetailad.picture" alt=""></a>
                        </div>
                    }

                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Section Title -->
                    <!--<div class="section-heading">
                        <h5>Hot Channels</h5>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="img/bg-img/14.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">TV Show</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="img/bg-img/15.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">Game Channel</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="img/bg-img/16.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">Sport Channel</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="img/bg-img/17.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">Travel Channel</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                            <div class="youtube-channel-thumbnail">
                                <img src="img/bg-img/18.jpg" alt="">
                            </div>
                            <div class="youtube-channel-content">
                                <a href="single-post.html" class="channel-title">LifeStyle Channel</a>
                                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                            </div>
                        </div>

                    </div>-->
                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Section Title -->
                    <!--<div class="section-heading">
                            <h5>Newsletter</h5>
                        </div>

                        <div class="newsletter-form">
                            <p>Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
                            <form action="#" method="get">
                                <input type="search" name="widget-search" placeholder="Enter your email">
                                <button type="submit" class="btn mag-btn w-100">Subscribe</button>
                            </form>
                        </div>

                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Quiz -->
<div id="modal_quiz" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Start the Quiz?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="contact-form-area">
                    <div class="row">

                        <div class="col-12">
                            <p>Notice: </p>
                            <p>- Once you start the quiz, you'll be directed into a new window</p>
                            <p>- You'll be given 60 seconds to answer each question</p>
                            <p>- You can't go back to previous question once you answered them</p>
                            <p>- If you fail, you can try another attempt a week after this initial attempt</p>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn mag-btn mt-30" type="submit" id="quizbutton">Yes, Proceed</button>
                        </div>
                        <h2><span id="result"></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Badge -->
<div id="modal_badge" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Badge</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <div class="contact-form-area">
                    <div class="row">
                        <div class="col-12">
                            <p>You don't have enough badge, please finish your previous course & quiz first</p>
                        </div>
                        <h2><span id="result"></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal No Quiz -->
<div id="modal_no_quiz" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Unavailable</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <div class="contact-form-area">
                    <div class="row">
                        <div class="col-12">
                            <p>Quiz for this course is unavailable right now or still under construction. Please contact admin (+62-822-1326-0438) for more details.</p>
                        </div>
                        <h2><span id="result"></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/js/jquery-3")

<script type="text/javascript">
    var model_courseid = @Model.courseid;
    var vb_encrypt = '@ViewBag.encrypt';
</script>

@Scripts.Render("~/bundles/js/user/course_detail")