﻿
@{
    ViewBag.Title = "Courses";
}

<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../../img/bg-img/1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Courses</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Breadcrumb Area Start ##### -->
<div class="mag-breadcrumb py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Courses</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Archive Post Area Start ##### -->
<div class="archive-post-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="archive-posts-area bg-white p-30 mb-30 box-shadow" id="course_area">
                        <!-- Single Catagory Post -->

                        <div class="section-heading">
                            <h5>Available Course</h5>
                        </div>
                        <div id="course_loading">

                        </div>

                    </div>
                }

                else
                {
                    <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">
                        <!-- Single Catagory Post -->

                        <div class="section-heading">
                            <h5>Available Course</h5>
                        </div>

                        <div>
                            <p>Please @Html.ActionLink("Login", "Login", "Login") to continue</p>
                        </div>

                    </div>
                }
            </div>
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 box-shadow">
                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Social Followers Info -->
                    <!--<div class="social-followers-info">-->
                    <!-- Facebook -->
                    <!--<a href="#" class="facebook-fans"><i class="fa fa-facebook"></i> 4,360 <span>Fans</span></a>-->
                    <!-- Twitter -->
                    <!--<a href="#" class="twitter-followers"><i class="fa fa-twitter"></i> 3,280 <span>Followers</span></a>-->
                    <!-- YouTube -->
                    <!--<a href="#" class="youtube-subscribers"><i class="fa fa-youtube"></i> 1250 <span>Subscribers</span></a>-->
                    <!-- Google -->
                    <!--<a href="#" class="google-followers"><i class="fa fa-google-plus"></i> 4,230 <span>Followers</span></a>
                        </div>
                    </div>-->
                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Section Title -->
                    <!--<div class="section-heading">
                        <h5>Categories</h5>
                    </div>-->
                    <!-- Catagory Widget -->
                    <!--<ul class="catagory-widgets">
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Life Style</span> <span>35</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Travel</span> <span>30</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Foods</span> <span>13</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Game</span> <span>06</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sports</span> <span>28</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Football</span> <span>08</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> TV Show</span> <span>13</span></a></li>
                        </ul>
                    </div>-->
                    <!-- Sidebar Widget -->
                    @if (!User.Identity.IsAuthenticated || User.IsInRole("generic"))
                    {
                        <div class="single-sidebar-widget">
                            <a href="@ViewBag.coursepagead.link" class="add-img"><img src="img/ads-img/@ViewBag.coursepagead.picture" alt=""></a>
                        </div>
                    }

                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Section Title -->
                    <!--<div class="section-heading">
                        <h5>Hot Channels</h5>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="img/bg-img/14.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">TV Show</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="img/bg-img/15.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">Game Channel</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="img/bg-img/16.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">Sport Channel</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="img/bg-img/17.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">Travel Channel</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                            <div class="youtube-channel-thumbnail">
                                <img src="img/bg-img/18.jpg" alt="">
                            </div>
                            <div class="youtube-channel-content">
                                <a href="single-post.html" class="channel-title">LifeStyle Channel</a>
                                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                            </div>
                        </div>

                    </div>-->
                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Section Title -->
                    <!--<div class="section-heading">
                            <h5>Newsletter</h5>
                        </div>

                        <div class="newsletter-form">
                            <p>Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
                            <form action="#" method="get">
                                <input type="search" name="widget-search" placeholder="Enter your email">
                                <button type="submit" class="btn mag-btn w-100">Subscribe</button>
                            </form>
                        </div>

                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/js/jquery-3")
@Scripts.Render("~/bundles/js/user/course")