﻿@model TestAstro.Models.tbl_discussion
@{
    ViewBag.Title = "Discussions Detail";
}

<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../img/bg-img/1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Discussions Detail</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Breadcrumb Area Start ##### -->
<div class="mag-breadcrumb py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Discussions">Discussion</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Post Details Area Start ##### -->


<section class="post-details-area">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-xl-8">
                <!-- Comment Area Start -->
                <div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Discussion Detail</h5>
                    </div>

                    <ol id="discussion_area">
                        <!-- Single Comment Area -->
                        <li class="single_comment_area">
                            <!-- Comment Content -->
                            <div class="comment-content d-flex">
                                <!-- Comment Author -->
                                <div class="comment-author">
                                    <img style="width:70px;height:100%" src="../../img/pp-img/@ViewBag.photo" alt="author">
                                </div>
                                <!-- Comment Meta -->
                                <div class="comment-meta">

                                    <h6>@Model.title</h6>
                                    <p>@Model.description</p>
                                    <p class="comment-date">@Model.date</p>

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (User.Identity.Name != ViewBag.author)
                                        {
                                            <button type="button" class="btn btn-secondary btn-sm" style="width:30px" title="Report" data-discussion="@Model.id" id="report_modal" onclick="reportDiscussion(this)"><i class="fa fa-flag"></i></button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-info btn-sm" style="width:30px" title="Edit" data-discussion="@Model.id" data-title="@Model.title" data-description="@Model.description" id="edit_modal" onclick="editDiscussion(this)"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-danger btn-sm" style="width:30px" title="Delete" data-discussion="@Model.id" id="delete_modal" onclick="deleteDiscussion(this)"><i class="fa fa-trash"></i></button>
                                        }
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-info btn-sm" style="width:30px" title="Please login first to report this post" disabled><i class="fa fa-flag"></i></button>
                                    }

                                </div>
                            </div>
                        </li>
                    </ol>
                </div>



                <div class="comment_area clearfix bg-white mb-30 p-30 box-shadow" id="comarea">
                    <!-- Section Title -->

                    <div class="section-heading">
                        <h5>REPLIES</h5>
                    </div>

                </div>

                <!-- Post A Comment Area -->
                <div class="post-a-comment-area bg-white mb-30 p-30 box-shadow clearfix">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>LEAVE A REPLY</h5>
                    </div>

                    <!-- Reply Form -->
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <p>PLEASE @Html.ActionLink("LOGIN", "Login", "Login") TO LEAVE A REPLY</p>
                    }

                    else
                    {
                        <form method="post" enctype="multipart/form-data">
                            <div class="contact-form-area">
                                <div class="row">
                                    <div class="col-12">
                                        @Html.TextArea("comment", new { @class = "form-control", cols = 30, rows = 10, placeholder = "Comment", required = "required" })
                                    </div>

                                    <div class="col-12">
                                        <button class="btn mag-btn mt-30" type="submit" id="submitComment">Submit Comment</button>
                                    </div>
                                    <h2><span id="result"></span></h2>
                                </div>
                            </div>
                        </form>
                    }

                </div>

            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 box-shadow">
                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Social Followers Info -->
                    <!--<div class="social-followers-info">-->
                    <!-- Facebook -->
                    <!--<a href="#" class="facebook-fans"><i class="fa fa-facebook"></i> 4,360 <span>Fans</span></a>-->
                    <!-- Twitter -->
                    <!--<a href="#" class="twitter-followers"><i class="fa fa-twitter"></i> 3,280 <span>Followers</span></a>-->
                    <!-- YouTube -->
                    <!--<a href="#" class="youtube-subscribers"><i class="fa fa-youtube"></i> 1250 <span>Subscribers</span></a>-->
                    <!-- Google -->
                    <!--<a href="#" class="google-followers"><i class="fa fa-google-plus"></i> 4,230 <span>Followers</span></a>
                        </div>
                    </div>-->
                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Section Title -->
                    <!--<div class="section-heading">
                        <h5>Categories</h5>
                    </div>-->
                    <!-- Catagory Widget -->
                    <!--<ul class="catagory-widgets">
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Life Style</span> <span>35</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Travel</span> <span>30</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Foods</span> <span>13</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Game</span> <span>06</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sports</span> <span>28</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Football</span> <span>08</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> TV Show</span> <span>13</span></a></li>
                        </ul>
                    </div>-->
                    <!-- Sidebar Widget -->
                    @if (!User.Identity.IsAuthenticated || User.IsInRole("generic"))
                    {
                        <div class="single-sidebar-widget">
                            <a href="@ViewBag.discussionsdetailad.link" class="add-img"><img src="../img/ads-img/@ViewBag.discussionsdetailad.picture" alt=""></a>
                        </div>
                    }

                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Section Title -->
                    <!--<div class="section-heading">
                        <h5>Hot Channels</h5>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="../img/bg-img/14.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">TV Show</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="../img/bg-img/15.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">Game Channel</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="../img/bg-img/16.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">Sport Channel</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="../img/bg-img/17.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">Travel Channel</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                            <div class="youtube-channel-thumbnail">
                                <img src="../img/bg-img/18.jpg" alt="">
                            </div>
                            <div class="youtube-channel-content">
                                <a href="single-post.html" class="channel-title">LifeStyle Channel</a>
                                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                            </div>
                        </div>

                    </div>-->
                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Section Title -->
                    <!--<div class="section-heading">
                            <h5>Newsletter</h5>
                        </div>

                        <div class="newsletter-form">
                            <p>Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
                            <form action="#" method="get">
                                <input type="search" name="widget-search" placeholder="Enter your email">
                                <button type="submit" class="btn mag-btn w-100">Subscribe</button>
                            </form>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>


<div id="discuss_report_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Report this post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <form method="post" id="form_discuss_report">
                    <input type="hidden" name="reportdiscusid" id="reportdiscusid" />
                    <input type="radio" name="option" id="report_a" checked="checked" value="spam/scam/fraud"> spam/scam/fraud<br>
                    <input type="radio" name="option" id="report_b" value="bullying or harrassment"> bullying or harrassment<br>
                    <input type="radio" name="option" id="report_c" value="hate speech"> hate speech<br>
                </form>

            </div>
            <div class="modal-footer">
                <button id="submitReport" class="btn btn-info">Submit Report</button>
            </div>
        </div>
    </div>
</div>

<div id="discuss_report_comment_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Report this post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <form method="post" id="form_discuss_comment_report">
                    <input type="hidden" name="reportcommentid" id="reportcommentid" />
                    <input type="radio" name="option_comment" id="report_a" checked="checked" value="spam/scam/fraud"> spam/scam/fraud<br>
                    <input type="radio" name="option_comment" id="report_b" value="bullying or harrassment"> bullying or harrassment<br>
                    <input type="radio" name="option_comment" id="report_c" value="hate speech"> hate speech<br>
                </form>

            </div>
            <div class="modal-footer">
                <button id="submitCommentReport" class="btn btn-info">Submit Report</button>
            </div>
        </div>
    </div>
</div>

<div id="discuss_delete_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Report this post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h3>Are you sure want to delete this post?</h3>
                <h4><b>This action can not be undone!</b></h4>
                <form method="post" id="form_discuss_delete">
                    <input type="hidden" name="deletediscusid" id="deletediscusid" />
                </form>

            </div>
            <div class="modal-footer">
                <button id="deleteDiscussion" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="discuss_delete_comment_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete commentt</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h3>Are you sure want to delete this comment?</h3>
                <h4><b>This action can not be undone!</b></h4>
                <form method="post" id="form_discuss_report">
                    <input type="hidden" name="deletecommentid" id="deletecommentid" />
                </form>

            </div>
            <div class="modal-footer">
                <button id="deleteCommentDiscussion" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="discuss_edit_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="post" id="form_discuss_edit">
                <div class="modal-body">

                    <input type="hidden" name="editdiscusid" id="editdiscusid" />
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="discusstitle" id="discusstitle" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="discussdesc" id="discussdesc" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submitEdit" class="btn btn-info">Edit Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="discuss_edit_comment_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="post" id="form_discuss_comment_edit">
                <div class="modal-body">
                    <input type="hidden" name="editdiscuscommentid" id="editdiscuscommentid" />
                    <div class="form-group">
                        <label>Comment</label>
                        <textarea name="commentdesc" id="commentdesc" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submitCommentEdit" class="btn btn-info">Edit Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="discuss_success_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center" id="success_modal_body">
                <h2>Report Submitted!</h2>
                <h4>Thank you for your feedback!</h4>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>




<!-- ##### Post Details Area End ##### -->
@Scripts.Render("~/bundles/js/dataTables")
@Scripts.Render("~/bundles/js/validator")
@Styles.Render("~/bundles/css/dataTables")
@Styles.Render("~/bundles/css/custom")
<script>
    var model_postid = @Model.id;
    var identity = @User.Identity.IsAuthenticated.ToString().ToLower();
    if (identity) {
        var identity_nm = "@User.Identity.Name";
    }
</script>
@Scripts.Render("~/bundles/js/user/discussion_detail")




