﻿@model TestAstro.Models.tbl_events
@{
    ViewBag.Title = "EventDetail";
}

<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../img/bg-img/1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Events Detail</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Breadcrumb Area Start ##### -->
<div class="mag-breadcrumb py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Events">Events</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-xl-8">
                <!-- Comment Area Start -->
                <div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>@Model.title</h5>
                    </div>
                    <div class="text-center">
                        <img class="post-thumbnail bg-img" style="max-height:400px" src="../img/event-img/@Model.photo" />
                    </div>
                    <br />
                    <p>@Model.description</p>
                    <hr />
                    <table>
                        <tr>
                            <td style="width:130px">Location</td>
                            <td>: @Model.location</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>: @Model.date.Value.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td>: @Model.time</td>
                        </tr>
                        <tr>
                            <td>Contact Person</td>
                            <td>: @Model.contact_person</td>
                        </tr>
                    </table>
                    <hr />


                    <div class="text-center">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <p>PLEASE @Html.ActionLink("LOGIN", "Login", "Login") TO JOIN THIS EVENT</p>

                        }
                        else
                        {

                            if (DateTime.Now >= ViewBag.event_date.AddDays(-1))
                            {
                                if (ViewBag.participate == true)
                                {
                                    <button id="joinEventDisabled" class=" btn btn-info btn-sm" title="The event notification time limit has already passed (24 hours before event started)" disabled>Remind Me</button>
                                }
                                else
                                {
                                    <button id="joinEventDisabled" class="btn btn-info btn-sm" title="You are already reminded of this event" disabled>Cancel Reminder</button>
                                }
                            }

                            else if (ViewBag.participate == true)
                            {
                                <button id="joinEvent" class="joinEvent btn btn-info btn-sm">Remind Me</button>
                            }

                            else
                            {
                                <button id="joinEvent" class="unjoinEvent btn btn-info btn-sm">Cancel Reminder</button>
                            }
                        }
                    </div>


                </div>

                <!-- Post A Comment Area -->
                <div class="post-a-comment-area bg-white mb-30 p-30 box-shadow clearfix">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>LEAVE A REPLY</h5>
                    </div>

                    <!-- Reply Form -->
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <p>PLEASE @Html.ActionLink("LOGIN", "Login", "Login") TO LEAVE A REPLY</p> }

                    else
                    {
                        <form method="post" enctype="multipart/form-data" id="post_event_comment">
                            <div class="contact-form-area">
                                <div class="row">
                                    <div class="col-12">
                                        @Html.TextArea("eventcomment", new { @class = "form-control", cols = 30, rows = 10, placeholder = "Comment", required = "required" })
                                    </div>
                                    @*@Html.TextArea("postid", new { @Value = ViewBag.Id } )*@

                                    <div class="col-12">
                                        <button class="btn mag-btn mt-30" type="submit" id="submitEventComment">Submit Comment</button>
                                    </div>
                                    <h2><span id="result"></span></h2>
                                </div>
                            </div>
                        </form>
                    }

                </div>

                <div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>REPLIES</h5>
                    </div>

                    <table id="event_comment_area" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="event_comment_area_body"></tbody>
                    </table>

                </div>

            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 box-shadow">
                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Social Followers Info -->
                    <!--<div class="social-followers-info">-->
                    <!-- Facebook -->
                    <!--<a href="#" class="facebook-fans"><i class="fa fa-facebook"></i> 4,360 <span>Fans</span></a>-->
                    <!-- Twitter -->
                    <!--<a href="#" class="twitter-followers"><i class="fa fa-twitter"></i> 3,280 <span>Followers</span></a>-->
                    <!-- YouTube -->
                    <!--<a href="#" class="youtube-subscribers"><i class="fa fa-youtube"></i> 1250 <span>Subscribers</span></a>-->
                    <!-- Google -->
                    <!--<a href="#" class="google-followers"><i class="fa fa-google-plus"></i> 4,230 <span>Followers</span></a>
                        </div>
                    </div>-->
                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Section Title -->
                    <!--<div class="section-heading">
                        <h5>Categories</h5>
                    </div>-->
                    <!-- Catagory Widget -->
                    <!--<ul class="catagory-widgets">
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Life Style</span> <span>35</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Travel</span> <span>30</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Foods</span> <span>13</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Game</span> <span>06</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sports</span> <span>28</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Football</span> <span>08</span></a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> TV Show</span> <span>13</span></a></li>
                        </ul>
                    </div>-->
                    <!-- Sidebar Widget -->
                    @if (!User.Identity.IsAuthenticated || User.IsInRole("generic"))
                    {
                        <div class="single-sidebar-widget">
                            <a href="@ViewBag.eventsdetailad.link" class="add-img"><img src="../img/ads-img/@ViewBag.eventsdetailad.picture" alt=""></a>
                        </div>}

                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Section Title -->
                    <!--<div class="section-heading">
                        <h5>Hot Channels</h5>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="../img/bg-img/14.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">TV Show</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="../img/bg-img/15.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">Game Channel</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="../img/bg-img/16.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">Sport Channel</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="../img/bg-img/17.jpg" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">Travel Channel</a>
                            <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                        </div>
                    </div>-->
                    <!-- Single YouTube Channel -->
                    <!--<div class="single-youtube-channel d-flex">
                            <div class="youtube-channel-thumbnail">
                                <img src="../img/bg-img/18.jpg" alt="">
                            </div>
                            <div class="youtube-channel-content">
                                <a href="single-post.html" class="channel-title">LifeStyle Channel</a>
                                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                            </div>
                        </div>

                    </div>-->
                    <!-- Sidebar Widget -->
                    <!--<div class="single-sidebar-widget p-30">-->
                    <!-- Section Title -->
                    <!--<div class="section-heading">
                            <h5>Newsletter</h5>
                        </div>

                        <div class="newsletter-form">
                            <p>Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
                            <form action="#" method="get">
                                <input type="search" name="widget-search" placeholder="Enter your email">
                                <button type="submit" class="btn mag-btn w-100">Subscribe</button>
                            </form>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<div id="event_report_comment_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Report this post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <form method="post" id="form_event_comment_report">
                    <input type="hidden" name="reportcommentid" id="reportcommentid" />
                    <input type="radio" name="option_comment" id="report_a" checked="checked" value="spam/scam/fraud"> spam/scam/fraud<br>
                    <input type="radio" name="option_comment" id="report_b" value="bullying or harrassment"> bullying or harrassment<br>
                    <input type="radio" name="option_comment" id="report_c" value="hate speech"> hate speech<br>
                </form>

            </div>
            <div class="modal-footer">
                <button id="submitCommentReport" class="btn btn-info">Submit Report</button>
            </div>
        </div>
    </div>
</div>

<div id="event_delete_comment_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete comment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h3>Are you sure want to delete this comment?</h3>
                <h4><b>This action can not be undone!</b></h4>
                <form method="post" id="form_event_report">
                    <input type="hidden" name="deletecommentid" id="deletecommentid" />
                </form>

            </div>
            <div class="modal-footer">
                <button id="deleteCommentEvent" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="event_edit_comment_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="post" id="form_event_comment_edit">
                <div class="modal-body">
                    <input type="hidden" name="editeventcommentid" id="editeventcommentid" />
                    <div class="form-group">
                        <label>Comment</label>
                        <textarea name="commentdesc" id="commentdesc" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submitCommentEdit" class="btn btn-info">Edit Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="event_join_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h2><b>Set Reminder</b></h2>
                <h4>You will be notified via email on the day before the event is being held</h4>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" onclick="joinEvent()" class="btn btn-info">Yes, Remind Me</button>
            </div>
        </div>
    </div>
</div>

<div id="event_unjoin_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h2><b>Cancel reminder</b></h2>
                <h4>Are you sure you want to cancel notification for this event?</h4>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" onclick="unjoinEvent()" class="btn btn-info">Yes, cancel it</button>
            </div>
        </div>
    </div>
</div>

<div id="event_success_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center" id="event_modal_body">
                <h2>Report Submitted!</h2>
                <h4>Thank you for your feedback!</h4>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/js/dataTables")
@Scripts.Render("~/bundles/js/validator")
@Styles.Render("~/bundles/css/dataTables")
@Styles.Render("~/bundles/css/custom")

<script>
    var model_eventid = @Model.id;
    var identity = @User.Identity.IsAuthenticated.ToString().ToLower();
    if (identity) {
        var identity_nm = "@User.Identity.Name";
    }
</script>

@Scripts.Render("~/bundles/js/user/event_detail")