﻿
@{
    ViewBag.Title = "Home Page";
}

<!-- ##### Hero Area Start ##### -->
<div class="hero-area owl-carousel">
    <!-- Single Blog Post -->
    <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Post Contetnt -->
                    <div class="post-content text-center">
                        <p class="post-title focus" data-animation="fadeInUp" data-delay="100ms">Welcome to Astronoob</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->
    <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Post Contetnt -->
                    <div class="post-content text-center">
                        <p class="post-title" data-animation="fadeInUp" data-delay="100ms">Astronoob is a learning website about astronomy. In this website, articles are supported with video feature to maximize your learning experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->
    <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Post Contetnt -->
                    <div class="post-content text-center">
                        <p class="post-title" data-animation="fadeInUp" data-delay="100ms">You can also discuss your learning progress with fellow astronoobians in our discussions forum or you can take our quiz to see how well you perform after learning in our website.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Hero Area End ##### -->

<!-- ##### Mag Posts Area Start ##### -->
<section class="mag-posts-area d-flex flex-wrap">

    <!-- >>>>>>>>>>>>>>>>>>>>
     Post Left Sidebar Area
    <<<<<<<<<<<<<<<<<<<<< -->
    <div class="post-sidebar-area left-sidebar mt-30 mb-30 bg-white box-shadow">

        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>HOT TOPICS</h5>
            </div>


            @foreach (var item in ViewBag.hot_topics)
            {
                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex" id="post_topics">

                    <div class="post-content">
                        <a href="/Discussions/@item.encrypt_id" class="post-title" style="width:200px; 
                                      overflow:hidden; 
                                      text-overflow:ellipsis; 
                                      display: -webkit-box;
                                      -webkit-line-clamp: 3;
                                      -webkit-box-orient: vertical">@item.title</a>
                        <div>@item.date</div>
                        <div class="post-meta d-flex justify-content-between">

                            <div><i class="fa fa-comments-o" aria-hidden="true"></i> @item.count</div>
                        </div>

                    </div>
                </div>
            }


        </div>

        <!-- Sidebar Widget -->
        @if (!User.Identity.IsAuthenticated || User.IsInRole("generic"))
        {
            <div class="single-sidebar-widget">
                <a href="@ViewBag.homeleftad.link" class="add-img"><img src="img/ads-img/@ViewBag.homeleftad.picture" alt=""></a>
            </div>
        }

    </div>

    <!-- >>>>>>>>>>>>>>>>>>>>
         Main Posts Area
    <<<<<<<<<<<<<<<<<<<<< -->
    <div class="mag-posts-content mt-30 mb-30 p-30 bg-white box-shadow">
        <!-- Trending Now Posts Area -->
        
        <!-- Sports Videos -->
        <div class="trending-now-posts mb-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>LATEST NEWS</h5>
            </div>

            <div class="sports-videos-slides owl-carousel mb-30">

                @*@foreach (var item in ViewBag.news)
                    {
                        <div class="single-catagory-post d-flex flex-wrap" style="width:500px">
                   
                            <div class="post-thumbnail" style="background-image: url(../img/news-img/@item.photo);">
                            </div>

                            <div class="post-content">

                                <a href="/News/@item.encrypt_id" class="post-title" style="width:400px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">@item.title</a>

                                <p style="width:400px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">@item.description</p>
                                <p>Posted on @item.date_posted</p>
                            </div>
                        </div>
                    }*@

                @foreach (var item in ViewBag.news)
                {

                    <div class="single-featured-post">
                  
                        <div class="post-thumbnail mb-15">
                            <img style="height:300px" src="img/news-img/@item.photo" alt="">
                        </div>
                       
                        <div class="post-content">
                            <div class="post-meta">
                                <p>@item.date_posted</p>
                            </div>
                            <a href="/News/@item.encrypt_id" class="post-title">@item.title</a>
                            <p style="overflow:hidden; 
                                      text-overflow:ellipsis; 
                                      display: -webkit-box;
                                      -webkit-line-clamp: 3;
                                      -webkit-box-orient: vertical">@item.description</p>
                        </div>
                    </div>
                }

            </div>

            <div class="section-heading">
                <h5>UPCOMING EVENTS</h5>
            </div>

            <div class="sports-videos-slides owl-carousel mb-30">

                @foreach (var item in ViewBag.events)
                {

                    <div class="single-featured-post">

                        <div class="post-thumbnail mb-15">
                            <img style="height:300px" src="img/event-img/@item.photo" alt="">
                        </div>

                        <div class="post-content">
                            <div class="post-meta">
                                <p>@item.date_posted</p>
                            </div>
                            <a href="/Events/@item.encrypt_id" class="post-title">@item.title</a>
                            <p style="overflow:hidden;
                                      text-overflow:ellipsis;
                                      display: -webkit-box;
                                      -webkit-line-clamp: 3;
                                      -webkit-box-orient: vertical">@item.description</p>
                                </div>
                            </div>
                        }

                @*@foreach (var item in ViewBag.news)
        {
            <div class="single-catagory-post d-flex flex-wrap" style="width:500px">

                <div class="post-thumbnail" style="background-image: url(../img/news-img/@item.photo);">
                </div>

                <div class="post-content">

                    <a href="/News/@item.encrypt_id" class="post-title" style="width:400px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">@item.title</a>

                    <p style="width:400px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">@item.description</p>
                    <p>Posted on @item.date_posted</p>
                </div>
            </div>
        }*@
            </div>
        </div>

    </div>

     <!-- >>>>>>>>>>>>>>>>>>>>
     Post Right Sidebar Area
     <<<<<<<<<<<<<<<<<<<<< -->

    <div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">

        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>LATEST TOPICS</h5>
            </div>


            @foreach (var item in ViewBag.latest_topics)
            {
                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex" id="post_topics">

                    <div class="post-content">
                        <a href="/Discussions/@item.encrypt_id" class="post-title" style="width:200px;
                                      overflow:hidden;
                                      text-overflow:ellipsis;
                                      display: -webkit-box;
                                      -webkit-line-clamp: 3;
                                      -webkit-box-orient: vertical">@item.title</a>
                        <div>@item.date</div>
                        <div class="post-meta d-flex justify-content-between">

                            <div><i class="fa fa-comments-o" aria-hidden="true"></i> @item.count</div>
                        </div>

                    </div>
                </div>
            }
        </div>

        <!-- Sidebar Widget -->
        @if (!User.Identity.IsAuthenticated || User.IsInRole("generic"))
        {
            <div class="single-sidebar-widget">
                <a href="@ViewBag.homerightad.link" class="add-img"><img src="img/ads-img/@ViewBag.homerightad.picture" alt=""></a>
            </div>
        }


    </div>
</section>
