﻿
@{
    ViewBag.Title = "Ads";
}


<!-- >>>>>>>>>>>>>>>>>>>>
     Main Posts Area
<<<<<<<<<<<<<<<<<<<<< -->
<div class="post-a-comment-area bg-white mt-30 mb-30 p-30 ml-50 mr-50 box-shadow clearfix">
    <!-- Trending Now Posts Area -->
    <div class="trending-now-posts mb-30">


        <!-- Section Title -->
        <div class="section-heading">
            <h5>ADS</h5>
        </div>

        @*<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal_ads">Create Ads</button>*@

    </div>

    <table class="table" id="post_ads" style="width:100%">
        <thead>
            <tr id="header_news">
                <th>Location</th>
                <th>Picture</th>
                <th>Link</th>
                <th>Customer</th>
                <th>Duration</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="post_ads_body"></tbody>
    </table>
</div>

<!-- Modal Create -->
<div id="modal_ads" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a New Ad</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="contact-form-area">
                        <div class="row">
                            <div class="col-12">
                                <label>Ad Location</label>
                                @Html.TextBox("ads_location", "", new { @class = "form-control", placeholder = "Location"})
                            </div>
                            <div class="col-12">
                                <label for="ads_picture">Ads Picture</label>
                                <input type="file" class="form-control-file" id="ads_picture" name="ads_picture" accept="image/*">
                                <br />
                            </div>
                            <div class="col-12">
                                <label>Link To</label>
                                @Html.TextBox("ads_link", "", new { @class = "form-control", placeholder = "Link" })
                            </div>
                            <div class="col-12">
                                <label>Customer</label>
                                @Html.TextBox("ads_customer", "", new { @class = "form-control", placeholder = "Customer Name" })
                            </div>
                            <div class="col-12">
                                <button class="btn mag-btn mt-30" type="submit" id="submitAds">Submit Ads</button>
                            </div>
                            <h2><span id="result"></span></h2>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/js/dataTables")
@Scripts.Render("~/bundles/js/admin/ads")
@Styles.Render("~/bundles/css/dataTables")
@Styles.Render("~/bundles/css/dataTables")
