﻿@model TestAstro.Models.tbl_events
@{
    ViewBag.Title = "Edit Event";
}
<!-- ##### Archive Post Area Start ##### -->
<div class="archive-post-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <div class="archive-posts-area bg-white p-30 mb-30 mt-30 box-shadow">
                    <!-- Single Catagory Post -->

                    <a href="/Admin/Event"><< BACK</a>

                    <div class="mt-15 section-heading">
                        <h5>Edit Event</h5>
                    </div>

                    @using (Html.BeginForm("EditEvent", "Admin", FormMethod.Post))
                    {
                        <p class="text-danger"><i>* required field</i></p>
                        <div class="form-group">
                            <label>Title</label><label class="text-danger">*</label>
                            @Html.TextBoxFor(m => m.title, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(m => m.title, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Description</label><label class="text-danger">*</label>
                            @Html.TextAreaFor(m => m.description, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Location</label><label class="text-danger">*</label>
                            @Html.TextBoxFor(m => m.location, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(m => m.location, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Date</label><label class="text-danger">*</label>
                            @Html.TextBoxFor(m => m.date, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(m => m.date, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Time</label><label class="text-danger">*</label>
                            @Html.TextBoxFor(m => m.time, new { @type = "time", @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(m => m.time, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Contact Person</label><label class="text-danger">*</label>
                            @Html.TextBoxFor(m => m.contact_person, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(m => m.contact_person, "", new { @class = "text-danger" })
                        </div>

                        @Html.HiddenFor(m => m.id)

                        <div class="text-right">
                            <button type="submit" class="btn mag-btn mt-30"> Save Changes </button>
                        </div>
                    }
                </div>
                    </div>
                        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                            <div class="sidebar-area bg-white mb-30 mt-30 box-shadow">
                                @using (Html.BeginForm("EditEventPicture", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <!-- Sidebar Widget -->
                                    <div class="single-sidebar-widget p-30">
                                        <!-- Section Title -->
                                        <div class="section-heading">
                                            <h5>Event Poster</h5>
                                        </div>
                                        <div class="text-center">
                                            <img src="../../../img/event-img/@Model.photo" alt="Profile Photo" style="border: 2px solid black; width:300px" />
                                        </div>
                                        <hr />
                                        <div class="form-group justify-content-center">
                                            <label for="event_pic"></label>
                                            <input type="file" class="form-control-file" name="event_pic" accept="image/*" required>
                                            <p>@TempData["error_pp"]</p>
                                        </div>
                                        @Html.HiddenFor(m => m.encrypt_id)
                                        <div class="text-right">
                                            <button type="submit" class="btn mag-btn mt-30">Upload Picture</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    </div>
</div>