﻿@model TestAstro.Models.tbl_course
@{
    ViewBag.Title = "Edit Course";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="mag-login-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="login-content bg-white p-30 box-shadow">
                        <!-- Section Title -->

                        <a href="/Admin/Course"><< BACK</a>

                        <div class="mt-15 section-heading">
                            <h5>Edit Course</h5>
                        </div>

                        <p class="text-danger"><i>* required field</i></p>

                        <div class="form-group">
                            <label>Name</label><label class="text-danger">*</label>
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "Title", required = "required" })
                            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label>Description</label><label class="text-danger">*</label>
                            @Html.TextAreaFor(m => m.description, new { @class = "form-control", placeholder = "Description", required = "required" })
                            @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Badge</label><label class="text-danger">*</label>
                            @Html.TextBoxFor(m => m.badgeid, new { @class = "form-control", placeholder = "Badge", required = "required", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.badgeid, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @{ List<SelectListItem> listItems = new List<SelectListItem>();
                                
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Enable",
                                    Value = "true"
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Disable",
                                    Value = "false"
                                }); }
                            <label>Quiz Status</label><label class="text-danger">*</label>
                            @Html.DropDownListFor(model => model.quiz_status, listItems, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(m => m.quiz_status, "", new { @class = "text-danger" })

                        </div>

                        @Html.HiddenFor(m => m.courseid)

                        <div class="text-center">
                            <button type="submit" class="btn mag-btn mt-30">Save Changes</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

