﻿@model TestAstro.Models.tbl_quiz
@{
    ViewBag.Title = "Edit Quiz";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="mag-login-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="login-content bg-white p-30 box-shadow">
                        <!-- Section Title -->

                        <a href="/Admin/Course/@ViewBag.encrypt_id"><< BACK</a>

                        <div class="mt-15 section-heading">
                            <h5>Edit Quiz</h5>
                        </div>

                        <p class="text-danger"><i>* required field</i></p>

                        <div class="form-group">
                            <label>Number</label><label class="text-danger">*</label>
                            @Html.TextBoxFor(m => m.number, new { @class = "form-control", id = "exampleEmail", placeholder = "Number", required = "required", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.number, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Question</label><label class="text-danger">*</label>
                            @Html.TextAreaFor(m => m.question, new { @class = "form-control", id = "exampleEmail", placeholder = "Description", required = "required" })
                            @Html.ValidationMessageFor(m => m.question, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Option A</label><label class="text-danger">*</label>
                            @Html.TextBoxFor(m => m.opt_a, new { @class = "form-control", id = "exampleEmail", placeholder = "Option A", required = "required" })
                            @Html.ValidationMessageFor(m => m.opt_a, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Option B</label><label class="text-danger">*</label>
                            @Html.TextBoxFor(m => m.opt_b, new { @class = "form-control", id = "exampleEmail", placeholder = "Option B", required = "required" })
                            @Html.ValidationMessageFor(m => m.opt_b, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Option C</label><label class="text-danger">*</label>
                            @Html.TextBoxFor(m => m.opt_c, new { @class = "form-control", id = "exampleEmail", placeholder = "Option C", required = "required" })
                            @Html.ValidationMessageFor(m => m.opt_c, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Option D</label><label class="text-danger">*</label>
                            @Html.TextBoxFor(m => m.opt_d, new { @class = "form-control", id = "exampleEmail", placeholder = "Option D", required = "required" })
                            @Html.ValidationMessageFor(m => m.opt_d, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @{ List<SelectListItem> listItems = new List<SelectListItem>();
                                listItems.Add(new SelectListItem
                                {
                                    Text = "A",
                                    Value = "a"
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "B",
                                    Value = "b"
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "C",
                                    Value = "c"
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "D",
                                    Value = "d"
                                }); }
                            <label>Answer</label><label class="text-danger">*</label>
                            @Html.DropDownListFor(model => model.answer, listItems, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(m => m.answer, "", new { @class = "text-danger" })

                        </div>
                        @Html.HiddenFor(m => m.quizid)

                        <div class="text-center">
                            <button type="submit" class="btn mag-btn mt-30">Save Changes</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

