﻿
@{
    ViewBag.Title = "Event";
}


<!-- ##### Mag Posts Area Start ##### -->
@*<section class="mag-posts-area d-flex flex-wrap">*@

<!-- >>>>>>>>>>>>>>>>>>>>
     Main Posts Area
<<<<<<<<<<<<<<<<<<<<< -->
<div class="post-a-comment-area bg-white mt-30 mb-30 p-30 ml-50 mr-50 box-shadow clearfix">
    <!-- Trending Now Posts Area -->
    <div class="trending-now-posts mb-30">


        <!-- Section Title -->
        <div class="section-heading">
            <h5>EVENT</h5>
        </div>

        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal_event">Create Event</button>

    </div>

    <table class="table" id="post_event" style="width:100%">
        <thead>
            <tr id="header_event">
                <th>Title</th>
                <th>Photo</th>
                <th>Description</th>
                <th>Date Posted</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Contact Person</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="post_event_body">
        </tbody>

    </table>

    <div id="events_loading">

    </div>

</div>

<!-- Modal Create -->
<div id="modal_event" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a New Event</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="contact-form-area">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-danger"><i> * required field</i></p>
                            </div>

                            <div class="col-12">
                                <label for="event_title">Title</label><label class="text-danger">*</label>
                                @Html.TextBox("event_title", "", new { @class = "form-control", placeholder = "Title", required = "required" })
                            </div>
                            <div class="col-12">
                                <label for="event_pic">Event Picture</label><label class="text-danger">*</label>
                                <input type="file" class="form-control-file" id="event_pic" name="event_pic" accept="image/*" required>
                                <br />
                            </div>
                            <div class="col-12">
                                <label for="event_desc">Description</label><label class="text-danger">*</label>
                                @Html.TextArea("event_desc", "", new { @class = "form-control", placeholder = "Description", required = "required" })
                            </div>
                            <div class="col-12">
                                <label for="event_date">Date </label><label class="text-danger">*</label>
                                <input type="date" class="form-control" id="event_date" name="date" required>
                            </div>
                            <div class="col-12">
                                <label for="event_time">Time </label><label class="text-danger">*</label>
                                <input type="time" class="form-control" id="event_time" name="time" required>
                            </div>
                            <div class="col-12">
                                <label for="event_loc">Location</label><label class="text-danger">*</label>
                                @Html.TextArea("event_loc", "", new { @class = "form-control", placeholder = "Location", rows = 20, required = "required" })
                            </div>
                            <div class="col-12">
                                <label for="event_loc">Contact Person</label><label class="text-danger">*</label>
                                @Html.TextBox("event_con", "", new { @class = "form-control", placeholder = "Contact Person", required = "required" })
                            </div>
                            <div class="col-12">
                                <button class="btn mag-btn mt-30" type="submit" id="submitEvent">Submit Event</button>
                            </div>
                            <h2><span id="result"></span></h2>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/js/dataTables")
@Scripts.Render("~/bundles/js/validator")
@Scripts.Render("~/bundles/js/admin/event")
@Styles.Render("~/bundles/css/dataTables")
<style>
    .error {
        color: #dc3545;
    }
</style>



