﻿
@{
    ViewBag.Title = "Index";
}

<!-- ##### Mag Posts Area Start ##### -->
@*<section class="mag-posts-area d-flex flex-wrap">*@

<!-- >>>>>>>>>>>>>>>>>>>>
     Main Posts Area
<<<<<<<<<<<<<<<<<<<<< -->

<div class="post-a-comment-area bg-white mt-30 mb-30 p-30 ml-50 mr-50 box-shadow clearfix">
    <!-- Trending Now Posts Area -->
    <div class="trending-now-posts mb-30">


        <!-- Section Title -->
        <div class="section-heading">
            <h5>COURSE</h5>
        </div>

        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal_course">Create Course</button>

    </div>



    <table class="table" id="post_course" style="width:100%">
        <thead>
            <tr id="header_course">
                <th>Name</th>
                <th>Description</th>
                <th>Badge ID</th>
                <th>Quiz Enabled</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="post_course_body"></tbody>

    </table>
    <div id="course_loading">

    </div>

</div>

@*</section>*@


<!-- Modal Create -->
<div id="modal_course" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a New Course</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    <div class="contact-form-area">
                        <p class="text-danger"><i>* required field</i></p>

                        <div class="row">
                            <div class="col-12">
                                <label>Title</label><label class="text-danger">*</label>
                                @Html.TextBox("course_name", "", new { @class = "form-control", placeholder = "Title", required = "required" })
                            </div>
                            <div class="col-12">
                                <label>Description</label><label class="text-danger">*</label>
                                @Html.TextArea("course_desc", "", new { @class = "form-control", placeholder = "Description", required = "required" })
                            </div>


                            <div class="col-12">
                                @{ List<SelectListItem> listItems = new List<SelectListItem>();
                                    foreach (var item in ViewBag.badge)
                                    {
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = item.name,
                                            Value = item.badgeid + ""
                                        });
                                    } }
                                <label>Required Badge</label><label class="text-danger">*</label>
                                @Html.DropDownList("course_badge", listItems, new { @class = "form-control", required = "required" })

                            </div>


                            <div class="col-12">
                                <label>After Pass Badge</label><label class="text-danger">*</label>
                                @Html.TextBox("course_badge_after", "", new { @class = "form-control", placeholder = "Badge Name After Passing This Course", required = "required" })
                            </div>

                            <div class="col-12 form-group">
                                <label>Quiz Status</label><label class="text-danger">*</label>
                                <select class="form-control" id="course_quiz_status" required>
                                    <option value="" selected disabled>Select Status: </option>
                                    <option value="true">Enable</option>
                                    <option value="false">Disable</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <button class="btn mag-btn mt-30" type="submit" id="submitCourse">Submit Course</button>
                            </div>
                            <h2><span id="result"></span></h2>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal Create -->
<div id="modal_edit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Course</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    <div class="contact-form-area">
                        <div class="row">
                            <div class="col-12">
                                <label>Title</label><label class="text-danger">*</label>
                                @Html.TextBox("course_edit_name", "", new { @class = "form-control", placeholder = "Title", required = "required" })
                            </div>
                            <div class="col-12">
                                <label>Description</label><label class="text-danger">*</label>
                                @Html.TextArea("course_edit_desc", "", new { @class = "form-control", placeholder = "Description", required = "required" })
                            </div>
                            <div class="col-12">
                                @{ List<SelectListItem> listItems = new List<SelectListItem>();
                                    foreach (var item in ViewBag.badge)
                                    {
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = item.name,
                                            Value = item.badgeid + ""
                                        });
                                    } }
                                <label>Badge</label><label class="text-danger">*</label>
                                @Html.DropDownList("course_edit_badge", listItems, new { @class = "form-control", required = "required" })

                            </div>
                            <div class="col-12">
                                @Html.Hidden("course_edit_courseid")
                            </div>
                            <div class="col-12">
                                <button class="btn mag-btn mt-30" type="submit" id="submitCourseEdit">Save Changes</button>
                            </div>
                            <h2><span id="result"></span></h2>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/js/dataTables")
@Scripts.Render("~/bundles/js/validator")
@Scripts.Render("~/bundles/js/admin/course")
@Styles.Render("~/bundles/css/dataTables")
<style>
    .error {
        color: #dc3545;
    }
</style>
