﻿@model IEnumerable<TestAstro.Models.tbl_error_log_history>
@{ ViewBag.Title = "Log History"; }

<div class="post-a-comment-area bg-white mt-30 mb-30 p-30 ml-50 mr-50 box-shadow clearfix">
    <!-- Trending Now Posts Area -->
    <div class="trending-now-posts mb-30">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>LOG HISTORY</h5>
        </div>
    </div>

    <table class="table" id="post_log" style="width:100%">
        <thead>
            <tr id="header_log">
                <th>Username</th>
                <th>Message</th>
                <th>Location</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td style="width:700px">
                        @Html.DisplayFor(modelItem => item.err_msg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.err_loc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.err_date)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Scripts.Render("~/bundles/js/dataTables")
@Styles.Render("~/bundles/css/dataTables")

<script>
    $(document).ready(function () {
        $.noConflict();
        $("#post_log").DataTable({
            responsive: true,
            "scrollX": true
        });
    });
</script>