﻿@using ReportViewerForMvc
@{
    ViewBag.Title = "Payment Report";
}

<!-- >>>>>>>>>>>>>>>>>>>>
     Main Posts Area
<<<<<<<<<<<<<<<<<<<<< -->
<div class="post-a-comment-area bg-white mt-30 mb-30 p-30 ml-50 mr-50 box-shadow clearfix">
    <!-- Trending Now Posts Area -->
    <div class="trending-now-posts mb-30">

        <!-- Section Title -->
        <div class="section-heading">
            <h5>PAYMENT REPORT</h5>
        </div>

        <div id="reportView" class="table-responsive">
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { scrolling = "yes", width = "100%" })
        </div>

    </div>

</div>

