﻿
@{
    ViewBag.Title = "Reports";
}

<div class="post-a-comment-area bg-white mt-30 mb-30 p-30 ml-50 mr-50 box-shadow clearfix">
    <!-- Trending Now Posts Area -->
    <div class="trending-now-posts mb-30">


        <!-- Section Title -->
        <div class="section-heading">
            <h5>REPORTS</h5>
        </div>

        @*        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal_news">Create News</button>
        *@
    </div>

    <p><i class="text-danger">Kindly press one of the category buttons bellow to show report</i></p>
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" class="btn btn-info btn-sm" style="border: 1px solid black" href="#discussion_report_tab">Discussion</a></li>
        <li><a data-toggle="pill" class="btn btn-info btn-sm" style="border: 1px solid black" href="#discussion_comment_tab">Discussion Comment</a></li>
        <li><a data-toggle="pill" class="btn btn-info btn-sm" style="border: 1px solid black" href="#news_comment_tab">News Comment</a></li>
        <li><a data-toggle="pill" class="btn btn-info btn-sm" style="border: 1px solid black" href="#event_comment_tab">Event Comment</a></li>
    </ul>
    <hr />

    <div class="tab-content">
        <div id="discussion_report_tab" class="tab-pane active">
            <table class="table" id="discussion_report" style="width:100%">
                <thead>
                    <tr>
                        <th>Reporter</th>
                        <th>Discussion</th>
                        <th>Detail</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.DiscussionReport)
                    {
                        <tr>
                            <td>
                                @item.reporter
                            </td>
                            <td>
                                @item.discussid
                            </td>
                            <td>
                                @item.detail
                            </td>
                            <td>
                                @item.date
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal_detail" data-reportid="@item.id" data-discussid="@item.discussid" onclick="detailDiscussion(this)">Detail</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="discussion_comment_tab" class="tab-pane fade">
            <table class="table" id="discussion_comment_report" style="width:100%">
                <thead>
                    <tr>
                        <th>Reporter</th>
                        <th>Comment</th>
                        <th>Detail</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.DiscussionCommentReport)
                    {
                        <tr>
                            <td>
                                @item.reporter
                            </td>
                            <td>
                                @item.commentid
                            </td>
                            <td>
                                @item.detail
                            </td>
                            <td>
                                @item.date
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal_detail" data-reportid="@item.id" data-discusscommentid="@item.commentid" onclick="detailDiscussionComment(this)">Detail</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="news_comment_tab" class="tab-pane fade">
            <table class="table" id="news_comment_report" style="width:100%">
                <thead>
                    <tr>
                        <th>Reporter</th>
                        <th>Comment</th>
                        <th>Detail</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.NewsCommentReport)
                    {
                        <tr>
                            <td>
                                @item.reporter
                            </td>
                            <td>
                                @item.commentid
                            </td>
                            <td>
                                @item.detail
                            </td>
                            <td>
                                @item.date
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal_detail" data-reportid="@item.id" data-newscommentid="@item.commentid" onclick="detailNewsComment(this)">Detail</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="event_comment_tab" class="tab-pane fade">
            <table class="table" id="event_comment_report" style="width:100%">
                <thead>
                    <tr>
                        <th>Reporter</th>
                        <th>Comment</th>
                        <th>Detail</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.EventCommentReport)
                    {
                        <tr>
                            <td>
                                @item.reporter
                            </td>
                            <td>
                                @item.commentid
                            </td>
                            <td>
                                @item.detail
                            </td>
                            <td>
                                @item.date
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal_detail" data-reportid="@item.id" data-eventcommentid="@item.commentid" onclick="detailEventComment(this)">Detail</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


<div id="modal_detail" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detail</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="modal_body">

            </div>
            <div class="modal-footer" id="modal_footer">

            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/js/dataTables")
@Scripts.Render("~/bundles/js/admin/report")
@Styles.Render("~/bundles/css/dataTables")



