﻿@model TestAstro.Models.tbl_premium_payment
@{
    ViewBag.Title = "Checkout";
}

<!-- ##### Archive Post Area Start ##### -->
<div class="archive-post-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8 mt-30">
                <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">

                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>CHECKOUT</h5>
                    </div>

                    <p><h6>Checkout for @User.Identity.Name, You'll get:</h6></p>

                    <table class="ml-15">

                        <tr>
                            <td><ul style="list-style-type: circle"><li style="list-style-type: circle"> No Ads</li></ul></td>
                        </tr>
                        <tr>
                            <td><ul style="list-style-type: circle"><li style="list-style-type: circle"> Newsletter Subscribtion</li></ul></td>
                        </tr>
                        <tr>
                            <td><ul style="list-style-type: circle"><li style="list-style-type: circle"> @ViewBag.days days of premium</li></ul></td>
                        </tr>
                    </table>

                    <hr/>

                    <div class="text-left">
                        <h6>How to pay with QR Code (BCA)</h6>
                        <table class="table">
                            <tr>
                                <td>1. </td>
                                <td>Open Sakuku and select QR menu</td>
                            </tr>
                            <tr>
                                <td>2. </td>
                                <td>Scan QR code shown above</td>
                            </tr>
                            <tr>
                                <td>3. </td>
                                <td>Confirm payment transaction by clicking “proceed”</td>
                            </tr>
                            <tr>
                                <td>4. </td>
                                <td>Enter the PIN to proceed</td>
                            </tr>
                            <tr>
                                <td>5. </td>
                                <td>Notification successful, transaction completed</td>
                            </tr>
                        </table>

                    </div>

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-5 col-xl-4 mt-30">
                <div class="sidebar-area bg-white mb-30 box-shadow">
                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget p-30 text-center">
                        <!-- Section Title -->

                        <div class="section-heading">
                            <h5>SCAN HERE</h5>
                        </div>

                        <div id="qr_code">
                            <img src="https://chart.googleapis.com/chart?chs=177x177&cht=qr&chl=AccountNumber=7641389556&choe=UTF-8" />
                        </div>

                        <br />
                        <button class="btn mag-btn" style="width:240px" id="button_payment">Confirm Payment</button>

                        <br />
                        <button class="btn mag-btn mt-15" style="background-color:red; width:240px" id="button_cancel">Cancel Payment</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/js/jquery-3")

<script>

    $(function () {
        $("#button_payment").click(function () {
            $(this).attr('disabled', 'disabled');
            $.ajax({
                url: "/User/ConfirmPayment",
                type: 'POST',
                data: { encrypt_id: "@Model.number" },
                success: function (response) {
                    alert('Your payment is successful');
                    window.location.href = '/';
                }
            });
        });
    });

    $(function () {
        $("#button_cancel").click(function () {

            $.ajax({
                url: "/User/CancelPayment",
                type: 'POST',
                data: { encrypt_id: "@Model.number" },
                success: function (response) {
                    alert('You have canceled your purchase.');
                    window.location.href = '/';
                }
            });
        });
    });
</script>

