﻿@model TestAstro.Models.tbl_user
@{
    ViewBag.Title = "Profile";
}
<!-- #####
    Archive Post Area Start ##### -->
<div class="archive-post-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <div class="archive-posts-area bg-white p-30 mb-30 mt-30 box-shadow">
                    <!-- Single Catagory Post -->

                    <div class="section-heading">
                        <h5>Course History</h5>
                    </div>
                    <a href="/User/CourseHistory" class="btn btn-info btn-sm mb-15">Print Course History</a>

                    <table class="table" id="post_course">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Grade</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody id="post_course_body"></tbody>
                    </table>

                    <hr />
                    <br />

                    <div class="section-heading">
                        <h5>Discussion Post</h5>
                    </div>


                    <table class="table" id="post_discussion">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Link</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody id="post_discussion_body"></tbody>
                    </table>

                    <hr />
                    <br />

                    <div class="section-heading">
                        <h5>Discussion Comment</h5>
                    </div>

                    <table class="table" id="comment_discussion">
                        <thead>
                            <tr>
                                <th>Replies</th>
                                <th>Link</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody id="comment_discussion_body"></tbody>
                    </table>

                    <hr />
                    <br />

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 mt-30 box-shadow">
                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget p-30">
                        <!-- Section Title -->

                        <div class="text-center">
                            <img src="../../img/pp-img/@Model.photo" alt="Profile Photo" class="rounded-circle" style="border: 2px solid black; width:200px; height:200px" />
                        </div>

                        <br />

                        <div class="section-heading">
                            <h5>Profile</h5>
                        </div>

                        <p>Name :<br /><b>@Model.name</b></p>
                        <p>Username :<br /><b>@Model.username</b></p>
                        <p>Email :<br /><b>@Model.email</b></p>
                        <p>Status :<br /><b>@if (Model.active == true)
                        {<span>Active</span> }
                        else
                        { <span>Inactive</span>}</b></p>
                        <p>Badge :<br /><b>@ViewBag.badge_name</b></p>
                        <p>Premium :<br /><b>@if (ViewBag.prem_days != null)
                        {<span>@ViewBag.prem_days Day(s)</span>}
                        else {
                        <span>No</span>}</b></p>

                        <br/>
                        <div class="text-center">
                            <a href="/User/Card" class="btn btn-info text-center" style="width:250px" title="Print your profile as a card">Print <i class="fa fa-print"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/js/dataTables")
@Styles.Render("~/bundles/css/dataTables")

<script type="text/javascript">

    $(document).ready(function () {
        $.noConflict();
    });

    $(function getAllResult() {
        $.ajax({
            url: "/User/UserCourseResult",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            method: 'GET',
            success: function (response) {
                var data = JSON.parse(response);
                $.each(data, function (key) {
                    var post =
                        '<tr>' +
                        '<td>' +
                        data[key].name +
                        '</td>' +
                        '<td>' +
                        data[key].grade +
                        '</td>' +
                        '<td>' +
                        data[key].date +
                        '</td>' +
                        '</tr>';
                    $("#post_course_body").append(post);
                });

                $("#post_course").DataTable({
                    "pageLength": 3,
                    "lengthChange": false,
                    "searching": false
                });
            }
        });
    });

    $(function getAllPost() {
        $.ajax({
            url: "/User/UserDiscPost",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            method: 'GET',
            success: function (response) {
                var data = JSON.parse(response);
                $.each(data, function (key) {
                    var post =
                        '<tr>' +
                        '<td>' +
                        data[key].title +
                        '</td>' +
                        '<td>' +
                        '<a href="/Discussions/'+ data[key].encrypt_id + '">link</a>' +
                        '</td>' +
                        '<td>' +
                        data[key].date +
                        '</td>' +
                        '</tr>';
                    $("#post_discussion_body").append(post);
                });

                $("#post_discussion").DataTable({
                    "pageLength": 3,
                    "lengthChange": false,
                    "searching": false
                });
            }
        });
    });

    $(function getAllComment() {
        $.ajax({
            url: "/User/UserDiscComment",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            method: 'GET',
            success: function (response) {
                var data = JSON.parse(response);
                $.each(data, function (key) {
                    var post =
                        '<tr>' +
                        '<td style="width:300px;">' +
                        data[key].comment +
                        '</td>' +
                        '<td>' +
                        '<a href="/Discussions/' + data[key].encrypt_id + '">link</a>' +
                        '</td>' +
                        '<td>' +
                        data[key].date +
                        '</td>' +
                        '</tr>';
                    $("#comment_discussion_body").append(post);
                });

                $("#comment_discussion").DataTable({
                    "pageLength": 3,
                    "lengthChange": false,
                    "searching": false
                });

            }
        });
    });

</script>

