﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Astronoob</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet" />

    @Styles.Render("~/bundles/css")

</head>
<body>

    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="mag-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="magNav">

                    <!-- Nav brand -->
                    <a href="/"><img src="~/img/core-img/logo.png" alt=""></a>

                    

                    <!-- Nav Content -->
                    <div class="nav-content d-flex align-items-center">
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap">
                                    <span class="top"></span>
                                    <span class="bottom"></span>
                                </div>
                            </div>

                            <!-- Nav Start -->

                            <div class="classynav">

                                <ul>

                                    @if (User.IsInRole("admin"))
                                    {
                                        <li>
                                            <a href="#">REPORTS</a>
                                            <ul class="dropdown">
                                                <li>@Html.ActionLink("USER MONTHLY", "MonthlyUserRegisterReport", "Admin")</li>
                                                <li>@Html.ActionLink("PAYMENT", "PaymentReport", "Admin")</li>
                                                <li>@Html.ActionLink("PASSING COURSE", "PassingCourseReport", "Admin")</li>
                                                <li>@Html.ActionLink("EVENT PARTICIPANT", "EventParticipantReport", "Admin")</li>
                                            </ul>
                                        </li>
                                        <li class="active">@Html.ActionLink("USERS", "User", "Admin")</li>
                                        <li class="active">@Html.ActionLink("NEWS", "News", "Admin")</li>
                                        <li class="active">@Html.ActionLink("EVENT", "Event", "Admin")</li>
                                        <li class="active">@Html.ActionLink("COURSE", "Index", "Admin")</li>
                                        <li class="active">@Html.ActionLink("ADS", "Ads", "Admin")</li>
                                        <li class="active">@Html.ActionLink("POST & COMMENT REPORT", "Reports", "Admin")</li>
                                        <li class="active">@Html.ActionLink("ERROR LOG", "Log", "Admin")</li>

                                    }

                                    else
                                    {
                                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li class="active">@Html.ActionLink("News", "News", "Home")</li>
                                        <li class="active">@Html.ActionLink("Events", "Events", "Home")</li>
                                        <li class="active">@Html.ActionLink("Discussions", "Discussions", "Home")</li>
                                        <li class="active">@Html.ActionLink("Courses", "Courses", "Home")</li>
                                    }



                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <a href="#">Account</a>
                                            <ul class="dropdown">
                                                @if (!User.IsInRole("admin"))
                                                {
                                                    <li>@Html.ActionLink("PROFILE", "Profile", "User")</li>
                                                    <li>@Html.ActionLink("GET PREMIUM", "UpgradePremium", "User")</li>
                                                }
                                                <li>@Html.ActionLink("SETTING", "AccountSetting", "User")</li>
                                                <li>@Html.ActionLink("LOGOUT", "Logout", "Login")</li>
                                            </ul>
                                        </li>


                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Login", "Login", "Login")</li>
                                    }

                                </ul>

                            </div>

                            <!-- Nav End -->
                        </div>
                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler mr-15">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    @RenderBody()
    <hr />

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-8">
                    <div class="footer-widget">
                        <h6 class="text-center mb-15" style="color:white;">ASTRONOOB</h6>
                        <!-- Logo -->
                        @*<a href="index.html" class="foo-logo"><img src="img/core-img/logo.png" alt=""></a>*@
                    <p class="text-center">Astronoob is a learning website about astronomy. In this website, you can learn cool stuff about astronomy and discuss about it with others astronoobians. Feel free to use the website and enjoy your time!</p>
                        @*<div class="footer-social-info">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>*@
                    </div>
                </div>


                <!--<div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">-->
                        @*<h6 class="widget-title">Upcoming Event</h6>*@
                        <!--<nav class="footer-widget-nav">-->
                            @*<ul>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Life Style</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Tech</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Travel</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Music</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Foods</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Fashion</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Game</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Football</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sports</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> TV Show</a></li>
                    </ul>*@
                        <!--</nav>
                    </div>
                </div>-->

                <!--<div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">-->
                        @*<h6 class="widget-title">Upcoming Event</h6>*@
                        <!--<nav class="footer-widget-nav">-->
                            @*<ul>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Life Style</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Tech</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Travel</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Music</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Foods</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Fashion</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Game</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Football</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sports</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> TV Show</a></li>
                    </ul>*@
                        <!--</nav>
                    </div>
                </div>-->


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="footer-widget">
                        <h6 class="text-center mb-15" style="color:white;">CONTACT US</h6>

                        <div class="single-blog-post style-2 text-center">
                            <p class="mb-0"><i class="fa fa-envelope"></i> hello.astronoob@gmail.com</p>
                            <p class="mb-0"><i class="fa fa-phone"></i> (62)-822-1326-0438</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-sm-6">
                        <p class="copywrite-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Astronoob
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="/News">News</a></li>
                                <li><a href="/Events">Events</a></li>
                                <li><a href="/Discussions">Discussions</a></li>
                                <li><a href="/">Home</a></li>
                                @*<li><a href="#">Privacy</a></li>
        <li><a href="#">Advertisement</a></li>
        <li><a href="#">Contact Us</a></li>*@
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>

