﻿<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../img/bg-img/1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Account Activation</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Login Area Start ##### -->

    <div class="mag-login-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="login-content bg-white p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Account Activation</h5>
                        </div>

                        <div class="text-center">
                            <h2>@ViewBag.Message</h2>
                            <p>Click @Html.ActionLink("Here", "Login", "Login") to continue login</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- ##### Login Area End ##### -->