﻿@model TestAstro.Models.tbl_user

@{
    ViewBag.Title = "Register";
}

<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Register</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Login Area Start ##### -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="mag-login-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="login-content bg-white p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Register</h5>
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control", id = "exampleEmail", placeholder = "Full Name" })
                            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.username, new { @class = "form-control", id = "exampleEmail", placeholder = "Username" })
                            @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.email, new { @class = "form-control", id = "exampleEmail", placeholder = "E-mail" })
                            @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.password, new { @class = "form-control", id = "exampleEmail", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.confirm_password, new { @class = "form-control", id = "exampleEmail", placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(m => m.confirm_password, "", new { @class = "text-danger" })
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn mag-btn mt-30">CREATE NEW ACCOUNT</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- ##### Login Area End ##### -->
