﻿@model TestAstro.Models.tbl_user
@{
    ViewBag.Title = "Reset Password";
}

<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../../img/bg-img/1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Reset Password</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Login Area Start ##### -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="mag-login-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="login-content bg-white p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Create your new password</h5>
                        </div>

                        @if (ViewBag.Message == false)
                        {
                            <h3>Invalid reset password code</h3>
                        }
                        else
                        {

                            <div class="form-group">
                                <div class="text-danger mr-sm-2">
                                    @ViewBag.confirm
                                    @ViewBag.error
                                </div>
                                @*<div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                 </div>*@
                            </div>

                            <div class="form-group">
                                @Html.PasswordFor(m => m.password, new { @Value = "", @class = "form-control", id = "exampleEmail", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.confirm_password, new { @Value = "", @class = "form-control", id = "exampleEmail", placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(m => m.confirm_password, "", new { @class = "text-danger" })
                            </div>

                            @Html.HiddenFor(m => m.id)

                            <div class="text-center">
                                <button type="submit" class="btn mag-btn mt-30">Reset Password</button>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- ##### Login Area End ##### -->
